/*
$green: #1DB954;
$green_hover: #1ED760;
$white: #e1e1e1;
$green_contrast: $white;
$black: #181818;
$black_transparent: #181818B2;
$gray: #282828;
$gray_transparent: #282828B2;
$light_gray: #404040;
$warning: #a94442;
$background_gradiant: linear-gradient(90deg, #181818, #27303d, #1f4e61, #00707a, #009180, #00a581, #23b87c, #4acb72, #63d888, #7be59d, #91f2b2, #a8ffc7);
*/


$main-bg-color: #181818;
$main-text-color: #e1e1e1;

$title-bg-color: #181818B2;
$title-font-color: #e1e1e1;
$title-hover-font-color: #e1e1e1;

$bg-image-color: linear-gradient(90deg, #181818, #27303d, #1f4e61, #00707a, #009180, #00a581, #23b87c, #4acb72, #63d888, #7be59d, #91f2b2, #a8ffc7);;
$greeting-color:  #181818;
$button-bg-color: #1DB954;
$button-hover-bg-color: #1ED760;
$button-text-color: #e1e1e1;

$second-bg-color: #282828;
$text-box-bg-color: #181818B2;
$text-box-title-color: #e1e1e1;
$text-box-warning-color: #a94442;
$text-box-text-color: #e1e1e1;

$navbar-bg-color: #181818;
$navbutton-bg-color: #282828;
$navbutton-hover-bg-color: lime;
$navbutton-text-color: #e1e1e1;

$footer-bg-color: #181818;
$footer-text-color: #e1e1e1;
