
//@import "~/node_modules/normalize.css/normalize.css";
@import "normalize.css";
@import "assets/styles/global.scss";
@import "milligram/dist/milligram.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  min-height: 100vh;
  font-family: $font-stack;
  font-weight: normal;
  margin: 0;
}